h1 {
    overflow: hidden;
    background-color: #c8c5e7;
}
img{
    width: 550px;
    border: 4px solid green;
    margin: 10px;
    padding: 4px;
}
.population{
    font:300px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
}
h3{
    font-family:'Times New Roman', Times, serif;
    flex: auto;
    font:100px;
}
.grid-container {
    display: grid;
    row-gap: 100px;
    column-gap: 50px;
  }
  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .grid-item2 {
    grid-column-start: 2;
    grid-row-end: 2;
  }
